In [ ]:
import json

In [3]:
import pandas as pd
import numpy as np

In [2]:
with open('intracen.json') as json_file:
    intracen=json.load(json_file)

#### The most growing trades between countries

In [ ]:
tradeflows=pd.DataFrame()

In [ ]:
for key in list(intracen.keys())[2:]:
    try:
        for t, target in enumerate(intracen[key]['export']['countries'][1:]):
            flows=pd.Series({'source':key, 'target': target}) #intracen[key]['value in 2022'] is either 1 or 0
            for year in range(2003, 2022):
                try:
                    flows.at[year] = intracen[key]['export'][str(year)][t+1]
                except: pass
            tradeflows=tradeflows.append(flows, ignore_index=True)

    except:
        pass

In [ ]:
flows_list = []
for key in list(intracen.keys())[2:]:
    try:
        for t, target in enumerate(intracen[key]['export']['countries'][1:]):
            flows = pd.Series({'source': key, 'target': target})
            flows_dict = {year: intracen[key]['export'].get(str(year), [None] * len(target))[t+1] for year in range(2003, 2022)}
            flows = pd.Series(flows_dict).append(flows)
            flows_list.append(flows)
    except:
        pass

tradeflows = pd.concat(flows_list, ignore_index=True)
By implementing these optimizations, you can improve the performance of the code by reducing unnecessary function calls and DataFrame operations.






Regenerate response

In [39]:
tradeflows

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,source,target
0,"92,626,296","125,148,956","163,180,459","203,801,046","233,168,790","252,843,531","221,295,020","283,780,323","325,010,988","352,438,221",...,"397,099,250","410,804,880","388,145,454","431,664,273","479,701,581","419,322,837","452,492,932","577,125,500",China,United States of America
1,"76,274,374","100,868,566","124,473,252","155,309,068","184,438,214","190,729,035","166,216,920","218,301,360","267,983,737","323,445,330",...,"363,077,144","334,290,810","292,214,997","280,975,081","302,960,301","278,024,510","271,084,279","348,969,298",China,"Hong Kong, China"
2,"59,408,698","73,509,042","83,986,277","91,622,673","102,062,496","116,132,455","97,910,966","121,043,965","148,268,708","151,626,581",...,"149,391,340","135,896,918","129,450,377","137,368,622","147,235,099","143,244,518","142,596,625","165,822,965",China,Japan
3,"20,094,765","27,811,560","35,107,776","44,522,207","56,432,016","73,931,990","53,679,877","68,766,311","82,920,308","87,673,764",...,"100,333,451","101,474,642","94,659,513","102,834,413","109,028,749","110,974,410","112,476,216","148,847,027",China,"Korea, Republic of"
4,"3,182,739","4,260,028","5,643,899","7,463,355","11,894,984","15,122,133","16,300,914","23,101,556","29,091,568","34,212,587",...,"63,730,014","66,381,154","61,585,175","72,117,144","84,015,799","97,868,882","113,815,239","137,904,870",China,Viet Nam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,"214,010","212,978","155,049","224,315","361,420","408,834","303,997","503,311","230,165","19,471",...,"6,794","3,072","3,491","6,961","50,524","8,609","2,108","1,177",United States of America,Syrian Arab Republic
394,"2,998","3,600","5,085","2,972","4,419","34,892","7,073","8,578","7,302","15,857",...,"12,714","8,080","4,050","9,885","9,888","18,558","6,941","13,134",United States of America,Greenland
395,"2,102",935,"1,373","3,028","2,394","2,791","1,964","3,859","4,604","5,504",...,"5,486","4,250","4,650","5,244","7,211","10,645","3,252","4,190",United States of America,Cook Islands
396,"2,966","17,364","8,121","6,523","6,930","7,278","8,697","14,386","32,789","19,940",...,"5,599","5,650","8,407","8,133","14,548","2,452","5,408","4,448",United States of America,Burundi
397,"1,008","1,923","3,052","3,216","4,050","3,960","2,742","3,505","3,839","2,489",...,"2,422","2,649","1,976","34,893","55,902","2,836","2,857","5,921",United States of America,Bhutan